// Variable Overrides
//
// Used to override Bootstrap variables used by the reboot system

$link-color: #4d82dc;
$font-family-base: Arial, Helvetica, Sans Serif;
$font-size-base: 1rem;
$line-height-base: 1.4;
$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base * 1.125;
$h6-font-size: $font-size-base;
