{% extends 'base.html.twig' %}

{% block content %}
    <div class="alert alert-info">
        <h4>Help Site Offline</h4>
        <p>The Joomla Help Site has been taken offline. Please use the <a class="alert-link" href="https://docs.joomla.org">Joomla! Documentation Wiki</a> for current version documentation.</p>
    </div>
{% endblock %}
